body
	--docus-body-fontFamily 'Shippori Mincho'
	--typography-font-body 'Shippori Mincho'
	--typography-font-monospace 'Geist Mono'
	--typography-font-display 'Geist'
	--elements-border-primary-static black
	--elements-state-primary-color-primary black
	--elements-border-primary-hover blue
	--color-gray-100 black
	--color-gray-500 black
	--color-primary-500 blue
	--color-primary-400 blue
	--prose-a-color-hover blue
	--prose-h2-letterSpacing 0
	--prose-code-block-backgroundColor var(--docus-body-backgroundColor)
	--prose-code-block-border-color var(--docus-body-color)
	--prose-code-block-border-style dashed
	--prose-p-lineHeight 1.6

	font-weight 500 

h1.title
	font-family var(--typography-font-display) !important
	font-weight 500 !important

.button-link, .docs-prev-next a
	color var(--docus-body-color) !important
	background transparent !important
	border 1px solid var(--docus-body-color) !important
	font-family var(--typography-font-display) !important
	font-weight 500 !important
	transition none !important

	&:hover
		background var(--docus-body-color) !important
		color var(--docus-body-backgroundColor) !important

		.directory
			color var(--color-white) !important


button[aria-label=Search]
	display none !important

.navbar-logo .title
	font-family var(--typography-font-display) !important
	font-weight 500 !important

header
	border-bottom none !important

	.container
		position relative
		display flex !important

	.section.center
		flex-grow 1 !important
		justify-content flex-end !important
		font-family var(--typography-font-monospace) !important
		
		.link
			transition none !important
			background transparent !important
			color var(--docus-body-color) !important
			box-shadow none !important
			font-weight 400 !important

			&.router-link-active
				font-weight 600 !important

.aside-nav, .toc
	font-family var(--typography-font-display) !important
	font-weight 400 !important

article
	h1
		font-size 2.4rem !important
		font-weight 500 !important

	h2, h3
		font-weight 500 !important
	
	h2
		font-size 1.8rem !important
	h3
		font-size 1.3rem !important

// Mobile
.dialog > div
	// box-shadow none !important
	border-right 1px solid var(--color-gray-100) !important

.docs-aside-tree
	font-family var(--typography-font-display) !important


code, kbd, samp, pre
	font-family var(--typography-font-monospace) !important
